*
!.gitignore
!.config/
!.config/hypr/
!.config/hypr/**
!.config/cwal/
!.config/cwal/**
!.config/spicetify/
!.config/spicetify/Themes/
!.config/spicetify/Themes/text/
!.config/spicetify/Themes/text/**
!.config/Vencord/
!.config/Vencord/themes/
!.config/Vencord/themes/system24.theme.css
!.config/tofi/
!.config/tofi/config

!Pictures/
!Pictures/**

!Scripts/
!Scripts/**
