*
!.gitignore
!.config/
!.config/hypr/
!.config/hypr/**
!.config/cwal/
!.config/cwal/**
!.config/spicetify/
!.config/spicetify/Themes/
!.config/spicetify/Themes/text
!.config/Vencord/
!.config/Vencord/**

!Pictures/
!Pictures/**

!Scripts/
!Scripts/**
